---
layout: no-lang
custom_body: homepage
---

<main role="main">
  <!-- main content starts here -->
  <!-- <a href="/map.html" class="divider explore-map"><h5>Explora el mapa de expertos y expertas</h5></a> -->
  <section class="top-section top-section--white">
    <div class="row expanded">
      <div class="column large-12 site-logo__wrapper">
        <a href="{{'/index.html' | relative_url}}"><img class="site-logo" src="{{'/images/anti-corruption-logo.png' | relative_url}}" alt="Smarter Crowdsourcing | Anti-Corruption Logo"></a>
      </div>
    </div>
    <div class="row expanded align-center"  style="padding-bottom: 40px;">
      <div class="column large-10 small-12">
        <section class="imagine-banner">
          <h2>{% t index.imagine.imagine1 %}</h2>
          <h2>{% t index.imagine.imagine2 %}</h2>
          <h2>{% t index.imagine.imagine3 %}</h2>
        </section>
      </div>

    </div>
    <div class="text-centered" style="margin-bottom: -60px; z-index: 1;">
      <a href='https://docs.google.com/document/d/1lRHQ_Gx27R1hicJcHk905G_5l-OfhmnLJNc-o2lFML8' target="_blank" class='button button--accent-color'>{% t index.read_language %}</a>
    </div>

  </section>

  <section class="page-section page-section--zebra-dark" style="z-index: 0;">
    <div class="row align-center" style="padding-top: 40px;">
      <div class="medium-10 large-9 column more-info">
        <p>{% t index.intro.p1 %}</p>
      </div>
    </div>
    <div class="row align-center">
      <div class="text-centered" style="margin-bottom: -60px; z-index: 1;">
        <a href="{{'/about.html' | relative_url}}" class='button button--accent-color'>{% t global.about %}</a> <a href="{{'/register.html' | relative_url}}" class='button button--accent-color'>{% t global.participate %}</a>
      </div>
    </div>
  </section>

<!--     <section>
      <a href="{{'/map.html' | relative_url}}" class="divider explore-map"><h5>{% t index.explore_the_expert_map %}</h5></a>
      <div class="main-buttons main-buttons__map">
        <a href="{{'/call-for-participants.html' | relative_url}}" class="button button--map button--accent-color">{% t index.participate %}</a>
        <a href="{{'/topics.html' | relative_url}}" class="button button--map button--accent-color">{% t global.topics %}</a>
      </div>
    </section> -->

    <section style="z-index: 0;">
      <div class="row expanded">

        {% for topic in site.data.topics %}
        <div class="large-6 small-12 column topic" style="background-image: url({{'/images/topics/resized/' | append: topic.image | relative_url}})">

          {%case site.lang %}
          {% when "es" %}
          <h1>{{topic.title}}</h1>
          <p>{{topic.short_description}}</p>
          {% when "pt" %}
          <h1>{{topic.pt.title}}</h1>
          <p>{{topic.pt.short_description}}</p>
          {% when "en" %}
          <h1>{{topic.en.title}}</h1>
          <p>{{topic.en.short_description}}</p>
          {% endcase %}

          {% if topic.conference.is_active %}
          <p><a href="{{ topic.slug }}.html" class="button button--theme-color">
            {% t global.more_information %}</a></p>

            {% else %}

            <p><a href="javascript: void(0)" class="button button--disabled">{% t global.more_information_soon %}</a></p>

            {% endif %}

            <div class="topic__date">
              <h6>{% t global.conference_on %}</h6>
              <span class="topic__month">{{ topic.conference.date | date: "%b"}}</span>
              <em class="topic__day">{{ topic.conference.date | date: "%d" }}</em>
            </div>
          </div>
          {% endfor %}

<!--           {% for topic in site.data.topics %}
          {% if topic.is_active and topic.conference.is_active == false %}
          <div class="large-6 small-12 column topic" style="background-image: url({{'/images/topics/resized/' | append: topic.image | relative_url}})">

            {% case site.lang %}
            {% when "es" %}
            <h1>{{topic.title}}</h1>
            <p>{{topic.short_description}}</p>
            {% when "pt" %}
            <h1>{{topic.pt.title}}</h1>
            <p>{{topic.pt.short_description}}</p>
            {% when "en" %}
            <h1>{{topic.en.title}}</h1>
            <p>{{topic.en.short_description}}</p>
            {% endcase %}

            <p><a href="{{topic.slug }}.html" class="button button--theme-color">{% t global.more_information %}</a></p>
            <div class="topic__date topic__date-past">
              <h6>{% t global.conference_took_place_on %}</h6>
              <span class="topic__month">{{ topic.conference.date | date: "%b" }}</span>
              <em class="topic__day">{{ topic.conference.date | date: "%d" }}</em>
            </div>
          </div>
          {% endif %}
          {% endfor %} -->

        </div>
      </section>

      <section class="divider divider--theme-color">
        <h1>{% t global.more_information %}</h1>
      </section>
      <section class="page-section">
        <div class="row align-center">
          <div class="medium-10 large-9 column more-info">
            <p>{% t index.view_the_schedule_text %}</p>
            <div class="text-centered"><a href="{{'/topics.html' | relative_url}}" class='button button--accent-color'>{% t index.view_the_schedule %}</a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section page-section--zebra-dark">
      <div class="row align-center">
        <div class="medium-10 large-9 column more-info">
          <p>{% t index.request_an_invitation_text %}</p>
          <div class="text-centered"><a href="{{'/register.html' | relative_url}}" class='button button--accent-color'>{% t index.request_an_invitation %}</a></div>
        </div>
      </div>
    </section>
    <section class="page-section">
      <div class="row align-center">
        <div class="medium-10 large-9 column more-info">
          <p>{% t index.view_the_playbook_text %}</p>
          <div class="text-centered"><a href='https://docs.google.com/document/d/1diyQBlaHbVC3KmLoR3mITdQgCCornbAwFycIc5B3ZQU/edit#heading=h.zbm82d8afavq' target="_blank" class='button button--accent-color'>{% t index.view_the_playbook %}</a></div>
        </div>
      </div>
    </section>
    <section class="divider divider--theme-color">
      <h1>{% t index.resources %}</h1>
    </section>
    <section class="page-section page-section--zebra-dark">
      <div class="row align-center">
        <div class="medium-10 large-9 column more-info">
          <br><br>
          <a class="resource-link" href="https://technical.ly/brooklyn/2017/05/24/govlab-taking-corruption-mexico-thinks-crowdsourcing-ideas-can-help/" target="_blank">The GovLab is taking on corruption in Mexico and thinks crowdsourcing can help - Technical.ly Brooklyn</a>
<!--           <br><br>
          <a class="resource-link" href="http://myinforms.com/en-us/a/419358266-the-govlab-is-taking-on-corruption-in-mexico-and-thinks-crowdsourcing-can-help/" target="_blank">The GovLab is taking on corruption in Mexico and thinks crowdsourcing can help | Myinforms</a> -->
        </div>
      </div>
    </section>

  </main>
